/*CSS document*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;}

body {
	background-color: #d4d4d4; /* Not totally white. */
	color: #070f1d;  /* Not totally black. */
	line-height: 140%; 	/* A little extra leading. */
	font-family: sans-serif;
}

h1 {
	background-color: #00008b;
	color: #d4d4d4; /* Same as body background. */
	font-size: 38px;
	padding: 25px 50px 25px; /* You want three values. */
	font-weight: 4px;
	text-transform: none;
}

/* You’ll need to add a span element to your HTML. */
h1 span { 	
	font-family: sans-serif;
	font-style: normal;
	font-weight: 3px;
	text-transform: uppercase;
}

h2 {
	background-color: #ccfdf0;
	color: #050505;
	font-size: 25px;
	padding: 18px 50px 18px 20px;
	font-family: sans-serif;
	font-weight: 5px;
}

h3 {
	margin: 10px 5px 5px; /*Three values again. You got the idea.*/
	padding-top: 15px;
	font-size: 20px;
	color: #050505;
	font-weight: 3px;
	text-transform: none;
	letter-spacing: 0.1em; /*Just an extra tracking for bold uppercase letters. Try 0.1em */
	border-top: 5px 5px 5px;
}

h4 {
    font-size: 17px;
	font-weight: 2px;
}

p.description {
	font-style: normal;
    color:#07077a;
}

p.price {
	color: #1876e2;
}

ul {
	margin: 10px 5px 10px;
}

li { 
	margin: 3px 3px;
}
